<header>
  <nav class="ecommerce-navbar">
    <div class="container ">

      <div class="row align-items-center py-2">

        <div class="col-2 ">
          <div class="logo">
            <a href="index.html">
              <img src="https://codervent.com/shopingo/demo/shopingo_V2/assets/images/logo-icon.png" class="logo-icon"
                alt="">
            </a>
          </div>
        </div>


        <div class=" col-6 ">
          <div class="input-group flex-nowrap  ">
            <input type="text" class="form-control  border-dark border border-3" placeholder="Search for Products">
            <button class="btn btn-dark btn-ecomm border-3" type="button">Search</button>
          </div>
        </div>


        <div class="col-2  d-flex ">
          <div class="d-flex align-items-center gap-3 ">
            <div class="fs-1 text-content"><i class="bx bx-headphone"></i></div>
            <div class="">
              <p class="mb-0 text-content">CALL US NOW</p>
              <h5 class="mb-0">+011 5827918</h5>
            </div>
          </div>



        </div>

        <div class="col-2">
          <ul class="d-flex justify-content-evenly align-items-center list-unstyled m-0 p-0">
            <li><i class="bx bx-user" style="font-size: 24px;"></i></li>
            <li><i class="bx bx-heart" style="font-size: 24px;"></i></li>
            <li><i class="bx bx-shopping-bag" style="font-size: 24px;"></i></li>
          </ul>
        </div>

      </div>
    </div>
  </nav>
</header>